.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin:10px 0px 0px 10px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}